
<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161840251-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-161840251-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Embed any source file from Github into your webpage with syntax highlighting">
        <title>Gistify</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200">
        <link rel="stylesheet" href="/static/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="layout">
            <div id="main">
                <div class="hero">
                    <div class="hero-titles">
                        <h1 style="font-weight: 200; font-size: 700%;margin-bottom: 10px;margin-top: 10px;">Gistify</h1>
                        <h2 class="hero-tagline">Embed any source file from Github into your webpage with syntax highlighting</h2>
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- horizontal_ad -->
                        <ins class="adsbygoogle"
                            style="display:block"
                            data-ad-client="ca-pub-0206245742790279"
                            data-ad-slot="4247058858"
                            data-ad-format="auto"
                            data-full-width-responsive="true"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
            </div>
        <div class="marketing"></div>
            <div class="marketing l-wrap pure-g">
                <div class="content pure-u-1 u-sm-1-2 u-xl-1-3">
                    <h3 class="marketing-header">Embed any source file</h3>
                    <p>
                        Github supports only Gists to be embedded inside a webpage. With Gistify you can embed any source file from any public repository.
                    </p>
                </div>
            
                <div class="content pure-u-1 u-sm-1-2 u-xl-1-3">
                    <h3 class="marketing-header">Same highlighting as Github</h3>
                    <p>
                        Gistify uses the same stylesheet used by Github for displaying its Gists. You don't see any difference in the syntax highlighting.
                    </p>
                </div>
            
                <div class="content pure-u-1 u-lg-3-4 u-xl-1-3">
                    <h3 class="marketing-header">Display specific line numbers</h3>
                    <p>
                        Gistify can display specific line numbers in the source file. This will help in better explaining your work in your blog or webpage.
                    </p>
                </div>
            </div>
            <div class="marketing l-wrap pure-g">
                <div class="marketing-diagram content pure-u-1 u-sm-2-3 u-md-1-2">
                    <div class="gistify" data-url="https://gistify.saisyam.com/https://github.com/saisyam/gistify/blob/master/sample.py">

                    </div>
                </div>
            
                <div class="content pure-u-1 u-md-1-2">
                    <h3 class="marketing-header">Embed any source file</h3>
                    <p>
                        Here I am embedding a simple source file from my repository, 
                        <a href="https://github.com/saisyam/gistify/blob/master/sample.py">https://github.com/saisyam/gistify/blob/master/sample.py</a>.
                    </p>
                    <p>
                        Simply append the Github URL to <a href="https://gistify.saisyam.com">https://gistify.saisyam.com</a>. For example, 
                        <a href="https://gistify.saisyam.com/https://github.com/saisyam/gistify/blob/master/sample.py">
                            https://gistify.saisyam.com/https://github.com/saisyam/gistify/blob/master/sample.py
                        </a>
                    </p>    
                        
                    </p>
                </div>
            </div>
            <div class="marketing l-wrap pure-g">
                <div class="content pure-u-1 u-md-1-2">
                    <h3 class="marketing-header">Display specific line numbers</h3>
                    <p>
                        To display specific line numbers, you have to append line numbers along with the source file URL. To display line numbers 1,2 and 
                        7 to 9, you have to append <b>/l/1,2,7-9</b>.
                    </p>
                    <p>
                        <b>Note: </b>Don't forget to append <i>"/l/"</i>
                    </p>
                    <p>
                        For example, 
                        <a href="https://gistify.saisyam.com/https://github.com/saisyam/gistify/blob/master/sample.py/l/1,2,6-8">
                            https://gistify.saisyam.com/https://github.com/saisyam/gistify/blob/master/sample.py/l/1,2,6-8
                        </a>
                    </p>    
                        
                    </p>
                </div>

                <div class="marketing-diagram content pure-u-1 u-sm-2-3 u-md-1-2">
                    <div class="gistify" data-url="https://gistify.saisyam.com/https://github.com/saisyam/gistify/blob/master/sample.py/l/1,2,6-8">

                    </div>
                </div>
            </div>
            <div class="marketing marketing-customize l-wrap pure-g">
                <div class="pure-u-1 u-sm-2-3 u-md-3-5" style="max-width:900px;">
                    <div class="gistify" data-url="https://gistify.saisyam.com/contribution/saisyam">

                    </div>
                </div>
                <div class="content pure-u-1 u-md-2-5">
                    <h3 class="marketing-header">Embed Github contributions graph</h3>
                    <p>
                        I always love to project my contributions graph on my blog or website. Github does not provide the way to embed contributions as 
                        it does for gists. I added a feature to Gistify to display contributions graph. All you have to do is to append the Github username
                        to the URL, <a href="https://gistify.saisyam.com/contribution">https://gistify.saisyam.com/contribution</a>
                    </p>
                    <p>
                        For example, 
                        <a href="https://gistify.saisyam.com/contribution/saisyam">
                            https://gistify.saisyam.com/contribution/saisyam
                        </a>
                    </p>    
                        
                    </p>
                </div>
            </div>
            <div class="footer">
                <div class="legal pure-g">
                    <div class="pure-u-1 u-sm-1-2">
                        <p class="legal-license">
                            Gistify is built using PureCSS and Python Flask<br>
                            All code on this site is licensed under the <a href="https://github.com/saisyam/gistify/blob/master/LICENSE">MIT License</a> unless otherwise stated.
                        </p>
                    </div>
                    <div class="pure-u-1 u-sm-1-2">
                        <ul class="legal-links">
                            <li><a href="https://github.com/saisyam/gistify/">GitHub Project</a></li>
                            <li><a href="mailto:saisyam@saisyam.com">Contact Info</a></li>
                        </ul>
                
                        <p class="legal-copyright">
                            &copy; 2020 - <a href="https://saisyam.com">Saisyam</a>. All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <script>
        $(document).ready(function(){
            $("div.gistify").each(function(){
                var url = $(this).attr("data-url");
                $(this).load(url);
            });
        
        });
    </script>
    </body>
</html>
